<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cattechnologies.tpg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.cattechnologies.tpg.viewHolderData.ApplicationInfo"
        android:allowBackup="true"
        android:icon="@mipmap/tpg_icon_lan"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/tpg_icon_lan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cattechnologies.tpg.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cattechnologies.tpg.activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.cattechnologies.tpg.activities.ViewPagerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name="com.cattechnologies.tpg.activities.LoginScreen"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.cattechnologies.tpg.activities.Dashboard"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name="com.cattechnologies.tpg.activities.ForgotUserDetailsData"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.cattechnologies.tpg.activities.ForgotUsernameDetails"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.cattechnologies.tpg.activities.ForgotPasswordDetails"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.cattechnologies.tpg.activities.ForgotEmailDetails"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.cattechnologies.tpg.activities.BackToLoginScreen"
            android:label="@string/app_name" />
        <activity
            android:name="com.cattechnologies.tpg.activities.EmployeeLoginActivity"
            android:label="@string/app_name" />


    </application>


</manifest>